<div class="col-sm-12 row">
  <ngb-carousel *ngIf="item.attachments">
      <span *ngFor="let image of item.attachments">
        <ng-template ngbSlide>
          <img class="card-img-top img-fluid" src="data:image/jpeg;base64,{{image.base64_image}}" style="max-width:100%;max-height:100%;" alt="{{image.image}}">
        </ng-template>
      </span>
    </ngb-carousel>
</div>
<dl class="row">
    <dt class="col-sm-3">Title</dt>
    <dd class="col-sm-9">{{item?.title}}</dd>
  
    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">
      {{item?.description}}
    </dd>
  
    <dt class="col-sm-3">Price</dt>
    <dd class="col-sm-9">{{item?.price}}</dd>
  
  </dl>


  <app-item-form [detail]="item" (update)="onUpdateItem($event)"></app-item-form>